<footer [style.display]="_SERVICE.quitarHeaderFooter()"
        class="animated fadeIn fast">

    <div class="col-footer container">
        
        <div class="info-footer">
            <h2>
                ¡Si quieres ver más proyectos, visita mi web personal!
            </h2>
            <a [href]="urlMiWeb" title="Visita mi web" target="_blank">
                <img class="logo-footer" [src]="rutaImg">
            </a>
            
        </div>

        <div class="info-footer">
            <ul>
                <li routerLink="/inicio" title="Ir a inicio" class="puntero">Inicio</li>
                <li>Aviso Legal</li>
                <li>Cookies</li>
            </ul>
        </div>

    </div>
</footer>
