header {
    background-color: #fff;
    padding: 30px 30px;
    color: #839ebf;
    border-bottom: 1px solid #dcdcdc;
}

.menu {
    position: absolute;
    right: 30px;
    top: 45px;
    display: flex;
}

.menu li {
    display: inline-flex;
    margin: auto;
    color: #839ebf;
    font-size: 2em;
}

.menu li i {
    margin: 0 15px;
}

.title-user {
    font-size: 16px;
    margin-right: 25px;
    margin-top: 0;
}

.logo img {
    width: 200px;
}

.active a {
    color: #455467;
    transition: all ease-in-out 0.3s;
}

.active a:hover {
    color: #839ebf;
    transition: all ease-in-out 0.3s;
}

a {
    color: #839ebf;
    transition: all ease-in-out 0.3s;
}

a:hover {
    color: #455467;
    transition: all ease-in-out 0.3s;
}



