<div [style.display]="auth.quitarHeaderFooter()"
    class="animated fadeIn fast">
    <header *ngIf="auth.estaAutenticado() === true" class="animated fadeIn fast">

        <div class="logo">
            <img class="puntero" title="Ir a la página principal" [src]="imgLogo" routerLink="/inicio">
        </div>

        <nav>
            <ul class="menu">
                <li>
                    <h1 class="title-user">¡Hola, {{ datosEmpresa.nombre }}!
                        <span>| Año de trabajo {{ datosEmpresa.fundadaEn }}</span>
                    </h1>
                </li>
                <li routerLinkActive="active">
                    <a [routerLink]="['/mi-espacio']" title="Mi espacio" class="puntero">
                        <i class="fa-solid fa-house"></i>
                    </a>
                </li>
                <li routerLinkActive="active">
                    <a title="Opciones" class="puntero">
                        <i title="Opciones"  class="fa-solid fa-gear"></i>
                    </a>
                </li>
                <li>
                    <a title="Cerrar Sesión" class="puntero">
                        <i title="Cerrar sesión" class="fa-solid fa-right-to-bracket"
                        (click)="salir()"></i>
                    </a>
                </li>
            </ul>
        </nav>

    </header>
    
    <header *ngIf="auth.estaAutenticado() === false" class="animated fadeIn fast">

        <h1>
            <div class="logo">
                <img class="puntero" title="Ir a la página principal" [src]="imgLogo" routerLink="/inicio">
            </div>
        </h1>

        <nav>
            <ul class="menu">
                <li routerLink="/login">
                    <i title="Iniciar sesion" class="fa-solid fa-user puntero"></i>
                </li>
            </ul>
        </nav>

    </header>
</div>