header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 30px 30px;
    color: #839ebf;
}

.menu {
    position: absolute;
    right: 30px;
    top: 45px;
    display: flex;
}

.menu li {
    display: inline-flex;
    margin: auto;
    color: #839ebf;
    font-size: 2em;
}

.menu li i {
    margin: 0 15px;
}

.title-user {
    font-size: 16px;
    margin-right: 25px;
}

.logo img {
    width: 200px;
}

