header {
    background-color: #fff;
    padding: 1em;
    color: #839ebf;
    box-shadow: 0 -1px 24px -10px rgb(184, 184, 184);
}

.menu {
    position: absolute;
    right: 30px;
    top: 25px;
    display: flex;
}

.menu li {
    display: inline-flex;
    margin: auto;
    color: #839ebf;
    font-size: 1.5em;
}

.menu li i {
    margin: 0 15px;
}

.title-user {
    font-size: 0.6em;
    margin-right: 25px;
    margin-top: 0;
}

.logo img {
    width: 150px;
}

.active a {
    color: #455467;
    transition: all ease-in-out 0.3s;
}

.active a:hover {
    color: #839ebf;
    transition: all ease-in-out 0.3s;
}

a {
    color: #839ebf;
    transition: all ease-in-out 0.3s;
}

a:hover {
    color: #455467;
    transition: all ease-in-out 0.3s;
}



