.container-guard {
    width: 100%;
}

.bloque {
    background-color: #fff;
    padding: 40px;
}

.saldos ul {
    display: flex;
    padding: 20px;
    background-color: #f1f1f1;
}

.saldos ul li {
    flex: auto;
    color: #839ebf;
    font-size: 20px;
    text-align: center;
}

.saldos ul li span.resaltado {
    padding: 5px 15px;
    border-radius: 5px;
}

.bloque h1 {
    font-size: 22px;
    padding: 35px 0 15px 0;
    color: #839ebf;
    background-color: #fff;
}

.tabla {
    display: flex;
    font-size: 16px;
    text-align: left;
    color: #000;
}

.tabla table {
    flex: 1;
}

.tabla table tr{
    margin: 10px 0;
    transition: all ease-in-out 0.2s;
}

.tabla table tr th {
    color: #000;
    font-weight: bold;
    padding: 10px 10px;
}

.tabla table tr td {
    padding: 1px 10px;
}

.flex-button {
    display: flex;
}

.tabla table tr td button {
    flex: 1;
    margin: 0 1px;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.info-tr:hover {
    color: #000;
    transition: all ease-in-out 0.2s;
    background-color: #f1f1f1;
}

.mod, .del {
    color: #fff;
    background-color: #839ebf;
    border: none;
    padding: 10px;
    transition: all ease-in-out 0.3s;
}

.del:hover {
    transition: all ease-in-out 0.3s;
    background-color: #ff0000;
}

.mod:hover {
    transition: all ease-in-out 0.3s;
    background-color: #455467;
}

.acciones button {
    width: 100px;
    height: 100px;
    margin-right: 10px;
    background-color: #fff;
    border: 1px solid #dcdcdc;
    border-radius: 10px;
    color: #455467;
    transition: all ease-in-out 0.3s;
    font-size: 35px;
}

.acciones button p {
    font-size: 15px;
}

.acciones button:hover {
    transition: all ease-in-out 0.3s;
    color: #839ebf;
    border: 1px solid #839ebf;
}

.acciones {
    margin-top: 10px;
    margin-bottom: 20px;
    width: max-content;
    display: flex;
}



