
.saldos ul {
    display: flex;
    padding: 20px;
    background-color: #f1f1f1;
}

.saldos ul li {
    flex: auto;
    color: #839ebf;
    font-size: 1.3rem;
    text-align: center;
}

.saldos ul li i {
    font-size: 1.5em;
    margin-right: 0.3em;
}

.saldos ul li span.resaltado {
    padding: 5px 15px;
    border-radius: 5px;
}

.bloque h1 {
    font-size: 1.2em;
    padding: 15px 0 15px 0;
    color: #839ebf;
    background-color: #fff;
}

.tabla {
    display: flex;
    font-size: 16px;
    text-align: left;
    color: #000;
}

.tabla table {
    flex: 1;
}

.tabla table tr{
    margin: 10px 0;
    transition: all ease-in-out 0.2s;
    color: #a9a9a9;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif !important;
}

.tabla table tr:hover{
    transition: all ease-in-out 0.2s;
    color: #000;
}

.tabla table tr th {
    color: #000;
    font-weight: bold;
    padding: 10px 10px;
}

.tabla table tr td {
    padding: 5px 10px;
}

.flex-button {
    display: flex;
}

.tabla table tr td button {
    flex: 1;
    margin: 0 1px;
    width: 35px;
    height: 35px;
    font-size: 15px;
}

.info-tr:hover {
    color: #000;
    transition: all ease-in-out 0.2s;
    background-color: #f1f1f1;
}

.mod, .del {
    color: #fff;
    background-color: #839ebf;
    border: none;
    padding: 10px;
    transition: all ease-in-out 0.3s;
}

.del:hover {
    transition: all ease-in-out 0.3s;
    background-color: #ff0000;
}

.mod:hover {
    transition: all ease-in-out 0.3s;
    background-color: #455467;
}

.acciones button {
    width: max-content;
    height: 50px;
    margin-right: 10px;
    background-color: #fff;
    border: none;
    border-radius: 10px;
    color: #455467;
    transition: all ease-in-out 0.3s;
    font-size: 15px;
}

.acciones button span {
    font-size: 15px;
    padding: 0 5px;
}

.acciones button:hover {
    transition: all ease-in-out 0.3s;
    color: #839ebf;
}

.acciones {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 100%;
    position: relative;
}

.buscador form {
    display: flex;
    align-items: center;
}

.busqueda {
    width: max-content;
    margin: 0 30px 0 0;
}


.buscador form label {
    display: block;
}

.busqueda select, .busqueda input {
    padding: 1em 2em;
    border: 1px solid #ccc;
    margin: 0 0 0 1em;
}

.space {
    width: 100%;
    height: 300px;
    display: table;
}

.cantidad-movimiento {
    text-align: right;
    color: rgb(95, 158, 160);
}




