
    <div class="container-guard animated fadeIn fast">

    <div class="saldos">

        <div class="buscar-movimientos">
            <h1 class="bold">Mi estado</h1>
        </div>

        <ul>
            <li>
                <i class="fa-solid fa-landmark"></i> 
                Mi Activo: <span [style.color]="colorActivo" class="bold">{{ activo | miles }}{{ moneda }}</span>
            </li>
            <li>
                <i class="fa-solid fa-wallet"></i> 
                Dinero Disponible: <span [style.color]="colorActivo" class="bold">{{ disponible | miles }}{{ moneda }}</span>
            </li>
            <li>
                <i class="fa-solid fa-handshake-simple"></i> 
                Debo: <span [style.color]="colorDeuda" class="bold">{{ deuda | miles }}{{ moneda }}</span>
            </li>
            <li>
                <i class="fa-solid fa-money-bills"></i> 
                Balance: <span [style.color]="colorBalance" class="bold">{{ balance | miles }}{{ moneda }}</span>
            </li>
        </ul>
    </div>

    <div class="bloque">

        <div class="buscar-movimientos">
            <h1 class="bold">Movimientos</h1>
        </div>

<!--             <div class="acciones">

            <div class="buscar-movimientos">
                <h1 class="bold">Buscar asiento</h1>
            </div>

            <div class="buscador">

                <form>
                    <div class="busqueda">
                        <input  type="radio" name="asiento" value="asiento">
                        <input class="asiento" type="text" placeholder="Asiento">
                    </div>

                    <div class="busqueda">
                        <input type="radio" name="tiempo" value="tiempo">
                        <select>
                            <option>Últimos 15 días</option>
                            <option>Último mes</option>
                            <option>Últimos 3 meses</option>
                        </select>
                    </div>

                    <div class="busqueda">
                        <input type="radio" name="tiempo" value="fecha">
                        <select>
                            <option>12</option>
                        </select>
                        <span> / </span>
                        <select>
                            <option>05</option>
                        </select>
                        <span> / </span>
                        <select>
                            <option>2022</option>
                        </select>
                    </div>

                    <button class="bnt puntero" type="submit">
                        <i class="fa-solid fa-magnifying-glass"></i>
                    </button>

                </form>
            </div>
        </div> -->
    
<!--         <div class="buscar-movimientos">
            <h1 class="bold">Últimos movimientos</h1>
        </div> -->

        <ul class="menu-espacio">
            <li routerLinkActive="active">
                <button (click)="AbrirModalAsiento( true )" title="Asiento nuevo" class="puntero">
                    <i class="fa-solid fa-pen-to-square"></i>
                </button>
            </li>
            <li routerLinkActive="active">
                <button (click)="AbrirModalCuenta( true )" title="Cuenta nueva" class="puntero">
                    <i class="fa-solid fa-book"></i>
                </button>
            </li>
            <li routerLinkActive="active">
                <button (click)="AbrirModalCuentas( true )" title="Administrar cuenta" class="puntero">
                    <i title="Ver Cuentas"  class="fa-solid fa-book-open"></i>
                </button>
            </li>
            <li routerLinkActive="active">
                <button title="Administrar cuenta" class="puntero">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </li>
        </ul>
    
        <div class="tabla">
            
            <table class="default">
    
                <tr class="cabecera-tabla">
                    <th>Asiento</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Cuenta</th>
                    <th>Contrapartida</th>
                    <th>Tipo</th>
                    <th class="cantidad-movimiento">Cantidad</th>
                    <th></th>
                </tr>

                <tr *ngFor="let movimiento of _DATOS.getInfoMovimientos(); let i = index" title="Modificar asiento {{ movimiento.asiento }}"
                    class="info-tr puntero"
                    [routerLink]="['/movimiento', movimiento.id]">
                    <td>{{ movimiento.asiento }}</td>
                    <td>{{ movimiento.dia +'/'+ movimiento.mes +'/'+ movimiento.anyo }}</td>
                    <td>{{ movimiento.concepto }}</td>
                    <td>{{ movimiento.cuentaContable | idtexto }}</td>
                    <td>{{ movimiento.contrapartida | idtexto }}</td>
                    <td>{{ movimiento.tipo | tipoMovimiento }}</td>
                    <td class="cantidad-movimiento bold"
                        [class.pasivo]="movimiento.tipo === '2' || movimiento.tipo === '3' || movimiento.tipo === '6' ">
                        {{ movimiento.cantidad | miles }}{{ moneda }}
                    </td>
                </tr>
                
            </table>

        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalCuenta">
        <div class="info-modal-cuenta">
            <app-cuenta></app-cuenta>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalAsiento">
        <div class="info-modal-cuenta">
            <app-asiento></app-asiento>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalCuentas">
        <div class="info-modal-cuenta">
            <app-cuentas></app-cuentas>
        </div>
    </div>

</div> 

