
    <div class="container-guard animated fadeIn fast">

    <div class="saldos">

        <div class="buscar-movimientos">
            <h1 class="bold">Mi estado</h1>
        </div>

        <ul>
            <li>
                <i class="fa-solid fa-landmark"></i> 
                Mi Activo: <span [style.color]="colorActivo" class="bold">
                    {{ _DATOS.mostrarActivo() | miles }}{{ moneda }}
                </span>
            </li>
            <li>
                <i class="fa-solid fa-wallet"></i> 
                Dinero Disponible: <span [style.color]="colorActivo" class="bold">
                    {{ _DATOS.mostrarDisponible() | miles }}{{ moneda }}
                </span>
            </li>
            <li>
                <i class="fa-solid fa-handshake-simple"></i> 
                Debo: <span [style.color]="colorDeuda" class="bold">
                    {{ _DATOS.mostrarDeuda() | miles }}{{ moneda }}
                </span>
            </li>
            <li>
                <i class="fa-solid fa-money-bills"></i> 
                Balance: <span [style.color]="colorBalance" class="bold">
                    {{ _DATOS.mostrarSaldo() | miles }}{{ moneda }}
                </span>
            </li>
        </ul>
    </div>

    <div class="bloque">

        <ul class="menu-espacio">
            <li routerLinkActive="active">
                <button (click)="AbrirModalAsiento( true )" title="Asiento nuevo" class="puntero">
                    <i class="fa-solid fa-pen-to-square"></i><span class="btn-span">Asiento nuevo</span>
                </button>
            </li>
            <li routerLinkActive="active">
                <button (click)="AbrirModalCuenta( true )" title="Cuenta nueva" class="puntero">
                    <i class="fa-solid fa-book"></i><span class="btn-span">Cuenta nueva</span>
                </button>
            </li>
            <li routerLinkActive="active">
                <button (click)="AbrirModalCuentas( true )" title="Administrar cuenta" class="puntero">
                    <i title="Ver Cuentas"  class="fa-solid fa-book-open"></i><span class="btn-span">Cuentas</span>
                </button>
            </li>
            <li routerLinkActive="active">
                <button (click)="AbrirModalBusqueda( true )" title="Buscar" class="puntero">
                    <i class="fa-solid fa-magnifying-glass"></i><span class="btn-span">Buscar asientos</span>
                </button>
            </li>
            <li class="puntero filtro" title="Borrar datos del filtro" (click)="actualizar()" *ngIf="buscador">
                <span> / </span>
                <span>Quitar Filtro</span>
            </li>
        </ul>
    
        <div class="tabla animated fadeIn fast">

            <h1 *ngIf="!buscador">Movimientos de "{{ mesActual | meses }}"</h1>
            
            <table class="default animated fadeIn fast" *ngIf="!buscador">

                <tr class="cabecera-tabla" *ngIf="escritorio">
                    <th>Asiento</th>
                    <th>Fecha</th>
                    <th>Descripción</th>
                    <th>Cuenta</th>
                    <th>Contrapartida</th>
                    <th>Tipo</th>
                    <th class="cantidad-movimiento">Cantidad</th>
                </tr>


                <tr *ngFor="let movimiento of _DATOS.recibirMovimientos(); let i = index" 
                title="Modificar asiento {{ movimiento.asiento }}" class="info-tr puntero" 
                (click)="AbrirModalModificarAsiento( true, movimiento.id, movimiento.tipo )">

                    <td class="cabecera-movil" *ngIf="movil">Información de asiento</td>
                    <td>
                        <h2 *ngIf="movil">Asiento:</h2>
                        {{ movimiento.asiento }}
                    </td>
                    <td>
                        <h2 *ngIf="movil">Fecha:</h2>
                        {{ movimiento.dia +'/'+ movimiento.mes +'/'+ movimiento.anyo }}
                    </td>
                    <td>
                        <h2 *ngIf="movil">Descripción:</h2>
                        {{ movimiento.concepto }}
                    </td>
                    <td>
                        <h2 *ngIf="movil">Cuenta:</h2>
                        {{ movimiento.cuentaContable | idtexto }}
                    </td>
                    <td>
                        <h2 *ngIf="movil">Contrapartida:</h2>
                        {{ movimiento.contrapartida | idtexto }}
                    </td>
                    <td>
                        <h2 *ngIf="movil">Tipo:</h2>
                        {{ movimiento.tipo | tipoMovimiento }}
                    </td>
                    <td class="cantidad-movimiento bold"
                        [class.pasivo]="movimiento.tipo === '2' || movimiento.tipo === '3' || movimiento.tipo === '6' ">
                        <h2 *ngIf="movil">Cantidad:</h2>
                        {{ movimiento.cantidad | miles }}{{ moneda }}
                    </td>

                </tr>
            
            </table>

            <div class="no-registro animated fadeIn fast" *ngIf="_DATOS.recibirMovimientos().length < 1">
                No se han introducido asientos
            </div>

            <table class="default animated fadeIn fast" *ngIf="buscador">

                    <h1>Movimientos con filtro</h1>
    
                    <tr class="cabecera-tabla" *ngIf="escritorio">
                        <th>Asiento</th>
                        <th>Fecha</th>
                        <th>Descripción</th>
                        <th>Cuenta</th>
                        <th>Contrapartida</th>
                        <th>Tipo</th>
                        <th class="cantidad-movimiento">Cantidad</th>
                    </tr>

                    <tr *ngFor="let movi of movimientoBuscado" title="Modificar asiento {{ movi.asiento }}" class="info-tr puntero" 
                    (click)="AbrirModalModificarAsiento( true, movi.id, movi.tipo )">

                        <td class="cabecera-movil" *ngIf="movil">Información de asiento</td>
                        <td>
                            <h2 *ngIf="movil">Asiento:</h2>
                            {{ movi.asiento }}
                        </td>
                        <td>
                            <h2 *ngIf="movil">Fecha:</h2>
                            {{ movi.dia +'/'+ movi.mes +'/'+ movi.anyo }}
                        </td>
                        <td>
                            <h2 *ngIf="movil">Descripción:</h2>
                            {{ movi.concepto }}
                        </td>
                        <td>
                            <h2 *ngIf="movil">Cuenta:</h2>
                            {{ movi.cuentaContable | idtexto }}
                        </td>
                        <td>
                            <h2 *ngIf="movil">Contrapartida:</h2>
                            {{ movi.contrapartida | idtexto }}
                        </td>
                        <td>
                            <h2 *ngIf="movil">Tipo:</h2>
                            {{ movi.tipo | tipoMovimiento }}
                        </td>
                        <td class="cantidad-movimiento bold"
                            [class.pasivo]="movi.tipo === '2' || movi.tipo === '3' || movi.tipo === '6' ">
                            <h2 *ngIf="movil">Cantidad:</h2>
                            {{ movi.cantidad | miles }}{{ moneda }}
                        </td>

                    </tr>

            </table>

        </div>

    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalCuenta">
        <div class="info-modal-cuenta">
            <app-cuenta></app-cuenta>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalAsiento">
        <div class="info-modal-cuenta">
            <app-asiento></app-asiento>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalCuentas">
        <div class="info-modal-cuenta">
            <app-cuentas></app-cuentas>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalModificarAsiento">
        <div class="info-modal-cuenta">
            <app-movimiento></app-movimiento>
        </div>
    </div>

    <div class="modalCuenta animated pulse" *ngIf="modalBusqueda">
        <div class="info-modal-cuenta">

            <div class="container-modal-busqueda nuevacuenta animated fadeIn fast">
                <div class="bloque-float animated fadeIn fast">
                    <h1>Buscar movimiento</h1>
                    <div class="cerrar" (click)="cerrarModal( false )">
                        <i title="Cerrar ventana"  class="fa-solid fa-close puntero"></i>
                    </div>
                </div>
            
                <div class="animated fadeIn fast info-cuenta bloque-content">
            
                    <form [formGroup]="busqueda" class="busqueda" (ngSubmit)="buscar()">
            
                        <label class="puntero" (click)="busquedaAsiento()">
                            <span>Número de asiento</span>
                            <div class="hide-asiento animated fadeIn fast" *ngIf="abrirAsiento">
                                <input type="text" class="corto" maxlength="4" minlength="1"
                                formControlName="asiento">
                            </div>
                            <small *ngIf="asientoNoValido" class="animated fadeIn fast">
                                No puedes introducir letras
                            </small>
                        </label>

                        <label class="puntero" (click)="busquedaTiempo()">
                            <span>Meses</span>
                            <div class="hide-asiento animated fadeIn fast" *ngIf="abrirTiempo">
                                <select class="corto"
                                formControlName="tiempo">
                                    <option value="" selected disabled>Selecciona tiempo</option>
                                    <option *ngFor="let meses of mesesNombres" [value]="meses.mes">
                                         {{ meses.nombre }}
                                    </option>
                                </select>
                            </div>
                        </label>

                        <label class="puntero" style="border-bottom: 1px solid #ccc;" (click)="busquedaFecha()">
                            <span>Fecha determinada</span>
                            <div class="hide-asiento animated fadeIn fast" *ngIf="abrirFecha">
                                <select class="caja-formulario"
                                        formControlName="dia">
                                        <option value="" selected disabled>día</option>
                                        <option *ngFor="let dia of dias"> {{ dia }} </option>
                                </select>
                                <span class="separar-fecha">
                                    /
                                </span>
                                <select class="caja-formulario" 
                                        formControlName="mes"
                                        (change)="mes( mesSeleccionado.value )"
                                        #mesSeleccionado>
                                        <option value="" selected disabled>Mes</option>
                                        <option *ngFor="let mes of meses" [value]="mes"> {{ mes }} </option>
                                </select>
                                <span class="separar-fecha">
                                    /
                                </span>
                                <select class="caja-formulario"
                                        formControlName="anyo">
                                        <option value="" selected disabled>Año</option>
                                        <option [ngValue]="anyo"> {{ anyo }}</option>
                                </select>
                            </div>
                        </label>

                        <div class="botones">
                            <button class="btn puntero" type="submit">
                                Buscar
                            </button>
                            <button class="btn puntero" type="button" (click)="cerrarModal( false )">
                                Cancelar
                            </button>
                        </div>
                        
                    </form>
            
                </div>
            </div>

        </div>
    </div>

</div> 
<div class="space"></div>

