<div class="container-principal">
    <aside class="animated fadeIn fast">
        <app-aside></app-aside>
    </aside>

<div class="container nuevacuenta animated fadeIn fast">

    <div class="bloque-float animated fadeIn fast">
        <h1>Cuenta nueva</h1>
        <button routerLink="/mi-espacio" class="btn-sinfondo puntero">
            <span>Atrás</span><i class="fa-solid fa-circle-arrow-left"></i>
        </button>
    </div>

    <div class="animated fadeIn fast info-cuenta bloque-content">

        <form [formGroup]="cuenta" (ngSubmit)="guardarCuenta()">

            <label>Fecha de creación</label>
            <input class="muylargo" type="text" placeholder="Fecha de creación"
                    formControlName="fechaDeCreacion">

            <label>Nombre de la Cuenta</label>
            <input class="muylargo" type="text" placeholder="Nombre" maxlength="30" minlength="2" required
                    formControlName="nombreCuenta">
                    <small *ngIf="nombreNoValido" class="animated fadeIn fast">
                        Debes introducir un nombre
                    </small>

            <label>Tipo de cuenta / Código de cuenta</label>
            <div class="flex">
                <select class="corto"
                        formControlName="tipo">
                    <option value="" selected>[ Selecciona un tipo de cuenta ]</option>
                    <option *ngFor="let tipo of tiposCuenta" [ngValue]="tipo" >
                        ({{ tipo.codigo }}) / {{ tipo.nombre }}
                    </option>
                </select>
                <span> / </span>
                <input class="muycorto" type="text" required
                        formControlName="identificador">
            </div>
            <small *ngIf="tipoNoValido" class="animated fadeIn fast">
                Debes introducir un tipo de cuenta
            </small>

            <label>Descripción</label>
            <input class="muylargo" type="text" placeholder="Breve descripción" maxlength="50" minlength="2" required
                    formControlName="descripcion">
                    <small *ngIf="descripcionNoValido" class="animated fadeIn fast">
                        Debes introducir una descripción correcta
                    </small>

            <label>Saldo inicial</label>
            <input class="corto" type="text" placeholder="Saldo inicial"  maxlength="10" minlength="1" required
                    formControlName="cantidad">
            <span> , </span>
            <input class="muycorto" type="text"  maxlength="2" minlength="2" required
                    formControlName="decimales">
            <span> {{ moneda }} </span>
            <small *ngIf="saldoNoValido" class="animated fadeIn fast">
                Debes introducir solo números y si no tiene saldo, pon 0,00.
            </small>
            <small *ngIf="decimalesNoValido" class="animated fadeIn fast">
                2 decimales
            </small>

            <button class="btn puntero" type="submit">
                Guardar
            </button>

        </form>

        <div class="instrucciones">
            <ul>
                <h2>Tipos de cuentas: ACTIVO</h2>
                <li>
                    <strong class="bold">(CB) Cuenta bancaria:</strong> Refleja el dinero que entra y sale del banco.
                </li>
                <li>
                    <strong class="bold">(CE) Dinero en efectivo:</strong> Refleja el dinero en efectivo.
                </li>
                <li>
                    <strong class="bold">(CC) Cliente:</strong> Se recogen las deudas que tienen los clientes contigo. Se usa para 
                    la actividad laboral.
                </li>
                <li>
                    <strong class="bold">(CD) Deudor:</strong> Se recogen las deudas que tienen otras personas contigo, fuera de la
                    actividad laboral (amigos, familiares, distintos servicios).
                </li>
                <li>
                    <strong class="bold">(CCLP) Deudas cliente a L/P:</strong> Se recogen las deudas que tienen los clientes contigo, pero
                    a largo plazo (LP), es decir, más de 1 año. Se usa para la actividad laboral.
                </li>
                <li>
                    <strong class="bold">(DDLP) Deudas deudores a L/P:</strong> Se recogen las deudas que tienen otras personas contigo, pero
                    a largo plazo (LP), es decir, más de 1 año. Fuera de la actividad laboral (amigos, familiares, distintos servicios).
                </li>

                <div class="space"></div>

                <h2>Tipos de cuentas: PASIVO</h2>
                <li>
                    <strong class="bold">(CA) Acreedor:</strong> Utilizada para registrar las operaciones o compras realizadas a crédito (dejas a deber) 
                    hacia otras personas (amigos, familiares, distintos servicios).
                </li>
                <li>
                    <strong class="bold">(CP) Proveedor:</strong> Utilizada para registrar las operaciones o compras realizadas a crédito (dejas a deber) 
                    por tu actividad laboral.
                </li>
                <li>
                    <strong class="bold">(CPLP) Deudas proveedor a L/P:</strong> Se recogen las deudas que tienes con los proveedores, pero
                    a largo plazo (LP), es decir, más de 1 año. Se usa para la actividad laboral.
                </li>
                <li>
                    <strong class="bold">(CALP) Deudas acreedor a L/P:</strong> Se recogen las deudas que tienes con otras personas, pero
                    a largo plazo (LP), es decir, más de 1 año. Fuera de la actividad laboral (amigos, familiares, distintos servicios).
                </li>
            </ul>
        </div>

    </div>
</div>

</div>