<div class="container-modal nuevacuenta animated fadeIn fast">

    <div class="bloque-float animated fadeIn fast">
        <h1>Cuenta nueva</h1>
        <div class="cerrar" (click)="cerrarModal( false )">
            <i title="Cerrar ventana"  class="fa-solid fa-close puntero"></i>
        </div>
    </div>

    <div class="animated fadeIn fast info-cuenta bloque-content">

        <form [formGroup]="cuenta" (ngSubmit)="guardarCuenta()">

            <label>Fecha de creación</label>
            <input class="muylargo" type="text" placeholder="Fecha de creación"
                    formControlName="fechaDeCreacion">

            <label>Nombre de la Cuenta</label>
            <input class="muylargo" type="text" maxlength="30" placeholder="¿Qué nombre le quieres poner?"  minlength="2" required
                    formControlName="nombreCuenta">
                    <small *ngIf="nombreNoValido" class="animated fadeIn fast">
                        Debes introducir un nombre
                    </small>

            <label>Tipo de cuenta</label>
            <div class="flex">
                <select class="total"
                        formControlName="tipo">
                    <option value="" selected>[ Selecciona un tipo de cuenta ]</option>
                    <option *ngFor="let tipo of tiposCuenta" [ngValue]="tipo" >
                        {{ tipo.nombre }}
                    </option>
                </select>
            </div>
            <small *ngIf="tipoNoValido" class="animated fadeIn fast">
                Debes introducir un tipo de cuenta
            </small>

            <label>Descripción</label>
            <input class="muylargo" type="text" maxlength="50" placeholder="¿Para qué es la cuenta?" minlength="2" required
                    formControlName="descripcion">
                    <small *ngIf="descripcionNoValido" class="animated fadeIn fast">
                        Debes introducir una descripción correcta
                    </small>

           <!--  <label>Saldo</label>
            <div class="flex">
                <input type="checkbox" 
                    (change)="saldoCheck( saldo.checked )"
                    #saldo
                    checked>
                <span class="font-14">Desmarca si el saldo no es "0.00"</span>
            </div>

            <div class="saldo-inicial animated fadeIn fast" *ngIf="!apareceSaldo">
                <input class="corto" type="text" placeholder="Saldo inicial"  maxlength="10" minlength="1" required
                        formControlName="cantidad">
                <span> , </span>
                <input class="muycorto" type="text"  maxlength="2" minlength="2" required
                        formControlName="decimales">
                <span> {{ moneda }} </span>
                <small *ngIf="saldoNoValido" class="animated fadeIn fast">
                    Debes introducir solo números y si no tiene saldo, pon 0,00.
                </small>
                <small *ngIf="decimalesNoValido" class="animated fadeIn fast">
                    2 decimales
                </small>
            </div> -->

            <div class="botones">
                <button class="btn puntero" type="submit">
                    Guardar
                </button>
                <button class="btn puntero" type="button" (click)="cerrarModal( false )">
                    Cancelar
                </button>
            </div>
            
        </form>

    </div>
</div>