<div class="container-modal nuevacuenta animated fadeIn fast">

    <div class="bloque-float animated fadeIn fast">
        <h1>Modificar cuenta
            <p class="p-h1">
                "{{ cuentaRecuperada[0].nombreCuenta }}"
            </p>
        </h1>
        <div class="cerrar" (click)="cerrarModal( false )">
            <i title="Cerrar ventana"  class="fa-solid fa-close puntero"></i>
        </div>
    </div>

    <div class="animated fadeIn fast info-cuenta bloque-content">

        <form [formGroup]="cuenta" (ngSubmit)="guardarCuenta()">

            <label>id</label>
            <input class="muylargo" type="text" placeholder="Fecha de creación"
                    formControlName="id">

            <label>Fecha de creación</label>
            <input class="muylargo" type="text" placeholder="Fecha de creación"
                    formControlName="fechaDeCreacion">

            <label>Nombre de la Cuenta</label>
            <input class="muylargo" type="text" placeholder="Nombre" maxlength="30" minlength="2" required
                    formControlName="nombreCuenta">
                    <small *ngIf="nombreNoValido" class="animated fadeIn fast">
                        Debes introducir un nombre
                    </small>

            <label>Tipo de cuenta / Código de cuenta</label>
            <div class="flex">
                <select class="total"
                        formControlName="tipo">
                    <option *ngFor="let tipoCuenta of tiposCuenta"
                            [selected]="tipoCuenta.nombre === cuentaRecuperada[0].tipo.nombre">
                        {{ tipoCuenta.nombre }}
                    </option>
                </select>
            </div>
            <small *ngIf="tipoNoValido" class="animated fadeIn fast">
                Debes introducir un tipo de cuenta
            </small>

            <label>Descripción</label>
            <input class="muylargo" type="text" placeholder="Breve descripción" maxlength="50" minlength="2" required
                    formControlName="descripcion">
                    <small *ngIf="descripcionNoValido" class="animated fadeIn fast">
                        Debes introducir una descripción correcta
                    </small>

                <div class="botones">
                    <button class="btn puntero" type="submit">
                        Guardar
                    </button>
                    <button class="btn puntero" type="button" (click)="cerrarModal( false )">
                        Cancelar
                    </button>
                </div>

        </form>

    </div>
</div>
