<section class="container-modal-asiento nuevacuenta animated fadeIn fast">

    <div class="bloque-float animated fadeIn fast">
        <h1>Administrar cuentas</h1>
        <div class="cerrar" (click)="cerrarModal( false )">
            <i title="Cerrar ventana"  class="fa-solid fa-close puntero"></i>
        </div>
    </div>


    <div class="animated fadeIn fast mostrar-cuentas bloque-content">

        <div class="buscador-cuenta">
            <form>
                <label>Buscar cuenta</label>
                <input class="largo" type="text" placeholder="¿Cómo se llama la cuenta?" #buscarTexto
                (keyup)="buscar(buscarTexto.value)">
            </form>
        </div>

        <div class="lista-cuentas" *ngIf="!buscadorActivo">
            <article class="cuenta-info animated fadeIn fast" 
                    *ngFor="let cuenta of _DATOS.getInfoCuentas(); let i = index"
                    [class.cuenta-pasivo]="cuenta.tipo.apunte === 'pasivo'">

                <div class="cabecera">
                    
                    <h2 class="titulo-cuentas">
                        <span class="bold color-text nombreCuenta">{{ cuenta.nombreCuenta }}</span>
                        <span class="color-text"> {{ cuenta.identificador }} / ({{ cuenta.tipo.codigo }}) {{ cuenta.tipo.nombre }}</span>
                    </h2>
    
                    <!-- <div class="cantidades">
                        <div class="cantidad">
                            <span class="bold color-text debe">Debe:</span>
                            <span class="cantidad-cuenta" *ngFor="let sumaDebe of cuenta.debe" [class.sutil]="sumaDebe.cantidad === '0.00'">
                                ({{ sumaDebe.asiento }}) {{ sumaDebe.cantidad | miles }}{{ moneda.simboloMoneda }}
                            </span>
                        </div>
                        <div class="cantidad">
                            <span class="bold color-text haber">Haber:</span>
                            <span class="cantidad-cuenta" *ngFor="let sumaHaber of cuenta.haber" [class.sutil]="sumaHaber.cantidad === '0.00'">
                                ({{ sumaHaber.asiento }}) {{ sumaHaber.cantidad | miles }}{{ moneda.simboloMoneda }}
                            </span>
                        </div>
                    </div> -->

                    <div class="info-cabecera">
                        <div class="etiqueta-activo">
                            <span [style.color]="colorPositivo" class="bold" [class.cantidad-pasivo]="cuenta.tipo.apunte === 'pasivo'">
                                {{ cuenta.saldo | miles }}{{ moneda.simboloMoneda }}
                            </span>
                        </div>

                        <button type="button" title="Modificar cuenta" class="puntero btn-cuentas"
                            [routerLink]="['/modificar-cuenta', cuenta.id]">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
        
                        <button type="button" title="Modificar cuenta" class="puntero btn-cuentas"
                            (click)="AbrirModalModificarCuenta( true, cuenta.id )">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>

                        <button type="button" title="Eliminar Cuenta" class="puntero btn-cuentas"
                        [routerLink]="['/modificar-cuenta', cuenta.id]">
                        <i class="fa-solid fa-trash-can"></i>
                        </button>

                    </div>
    
                </div>
                
            </article>
        </div>


        <div class="lista-cuentas" *ngIf="buscadorActivo">
            <article class="cuenta-info animated fadeIn fast" 
                    *ngFor="let cuenta of cuentaBuscador; let i = index"
                    [class.cuenta-pasivo]="cuenta.tipo.apunte === 'pasivo'">

                <div class="cabecera">
                    
                    <h2 class="titulo-cuentas">
                        <span class="bold color-text nombreCuenta">{{ cuenta.nombreCuenta }}</span>
                        <span class="color-text"> {{ cuenta.identificador }} / ({{ cuenta.tipo.codigo }}) {{ cuenta.tipo.nombre }}</span>
                    </h2>

                    <div class="info-cabecera">
                        <div class="etiqueta-activo">
                            <span [style.color]="colorPositivo" class="bold" [class.cantidad-pasivo]="cuenta.tipo.apunte === 'pasivo'">
                                {{ cuenta.saldo | miles }}{{ moneda.simboloMoneda }}
                            </span>
                        </div>

                        <button type="button" title="Modificar cuenta" class="puntero btn-cuentas"
                            [routerLink]="['/modificar-cuenta', cuenta.id]">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
        
                        <button type="button" title="Modificar cuenta" class="puntero btn-cuentas"
                            [routerLink]="['/modificar-cuenta', cuenta.id]">
                            <i class="fa-regular fa-pen-to-square"></i>
                        </button>

                        <button type="button" title="Eliminar Cuenta" class="puntero btn-cuentas"
                        [routerLink]="['/modificar-cuenta', cuenta.id]">
                        <i class="fa-solid fa-trash-can"></i>
                        </button>

                    </div>
    
                </div>
                
            </article>
        </div>

        <div class="modalCuenta animated pulse" *ngIf="this._VARIABLES.abrirModalModificarCuenta">
            <div class="info-modal-cuenta">
                <app-modificar-cuenta></app-modificar-cuenta>
            </div>
        </div>

    </div>


</section>
