.lista-cuentas {
    column-count: 2;
    column-gap: 3em;
}

.cuenta-info {
    background-color: #fff;
    height: max-content;
    border: 1px solid #dcdcdc;
    padding: 10px 1%;
    font-size: 16px;
    margin: 0 0 2em 0;
    width: 100%;
    box-shadow: 8px 8px 9px -7px #ccc;
}

.cuenta-info .cabecera {
    padding: 1.5rem;
    background-color: #f6f6f6;
    position: relative;
}

.info-cuentas {
    position: absolute;
    right: 1rem;
    top: 1rem;
    font-size: 2rem;
}

.info-bocadillo .descripcion {
    position: absolute;
    width: 200px;
    top: -45px;
    right: 45px;
    background-color: #fff;
    height: max-content;
    display: block;
    border: 1px solid #ccc;
    color: #a9a9a9;
    font-size: 1rem;
    padding: 1rem !important;
    box-shadow: 5px 5px 8px #dcdcdc;
    line-height: 24px;
    display: none;
}

.info-bocadillo {
    position: relative;
}

.cuenta-info .cabecera h2 {
    flex: 1;
}

.cuenta-info .cabecera span {
    padding: 0 30px 5px 0;
}

.cantidad {
    width: 100%;
}

.cantidades {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.cantidades span {
    padding: 10px;
    display: flex;
    align-items: center;
}

.mostrar-cuentas h2.title-h2 {
    display: block;
    padding: 0 0 5px 0;
    margin: 20px 0 0 0;
    color: #839ebf;
    font-weight: bold;
}

.space {
    height: 400px;
}

.cabecera button {
    margin-right: 1px;
}

.debe, .haber {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}

.cantidad-cuenta {
    font-size: 15px;
}

.saldo-cantidad {
    padding: 0 0 0 2rem;
    width: fit-content !important;
}

.titulo-cuentas span {
    color: #839ebf !important;
}

.btn-cuentas {
    font-size: 1.5em;
    color: #839ebf;
    background-color: transparent;
    border: none;
    transition: all ease-in-out 0.5s;
}

.btn-cuentas:hover {
    color: #455467;
    transition: all ease-in-out 0.5s;
}

.btn-cuentas span {
    font-size: 0.7em;
    padding: 0 0 0 0.5em !important;
}

.nombreCuenta {
    font-size: 1.5rem;
}


