.lista-cuentas {
    column-count: 2;
    column-gap: 3em;
}

.cuenta-info {
    background-color: #f2f6fa;
    height: max-content;
    padding: 30px 1%;
    font-size: 16px;
    margin: 0 0 5em 0;
    width: 100%;
    box-shadow: 6px 6px 10px -8px #000;
    page-break-inside: avoid;
    break-inside: avoid;
    position: relative;
}

.cuenta-pasivo {
    background-color: #fffef1 !important;
    /* border: 2px solid #acaa8639; */
}

.cantidad-pasivo {
    color: rgb(255, 176, 147) !important;
}

.etiqueta-activo {
    position: absolute;
    padding: 1rem 2rem;
    right: 10px;
    bottom: 10px;
    z-index: 100;
    color: #fff;
    border: 1px solid #bfd3bf74;
    background-color: #fff;
}

.cuenta-info .cabecera {
    padding: 1.5rem;
    background-color: transparent;
    position: relative;
    margin: -35px 0 0 0;
}

.info-bocadillo {
    position: relative;
}

.cuenta-info .cabecera span {
    padding: 0 30px 5px 0;
    display: flex;
}

.cantidad {
    width: 100%;
}

.cantidades {
    padding: 30px 0;
    display: flex;
    align-items: center;
}

.cantidades span {
    padding: 10px;
    display: flex;
    align-items: center;
}

.mostrar-cuentas h2.title-h2 {
    display: block;
    padding: 0 0 5px 0;
    margin: 20px 0 0 0;
    color: #839ebf;
    font-weight: bold;
}

.space {
    height: 400px;
}

.cabecera button {
    margin-right: 1px;
}

.debe, .haber {
    border-bottom: 1px solid #ccc;
    margin: 0 0 10px 0;
}

.cantidad-cuenta {
    font-size: 1.2em;
}

.saldo-cantidad {
    padding: 0 0 0 2rem;
    width: fit-content !important;
}

.titulo-cuentas span {
    color: #839ebf !important;
}

.btn-cuentas {
    font-size: 1.5em;
    color: #839ebf;
    background-color: transparent;
    border: none;
    transition: all ease-in-out 0.5s;
}

.btn-cuentas:hover {
    color: #455467;
    transition: all ease-in-out 0.5s;
}

.btn-cuentas span {
    font-size: 0.7em;
    padding: 0 0 0 0.5em !important;
}

.nombreCuenta {
    font-size: 1.5rem;
}

.anillas {
    background-image: url("src/assets/img/anilla.svg");
    width: 95%;
    height: 50px;
    background-repeat: repeat-x;
    background-size: 20px;
    background-color: transparent;
    position: relative;
    top: -55px;
    left: 10px;
} 

.buscador-cuenta {
    margin: 0 0 5rem 0;
}

.sutil {
    color: #c1c1c1;
}


