.info-cuenta span {
    font-size: 20px;
    padding: 0 1%;
}

.info-cuenta button.btn {
    margin-top: 30px;
}

.info-cuenta form {
    display: flex;
} 

.instrucciones {
    padding: 0 40px 0 0;
    font-size: 15px;
    text-align: justify;
    color: #839ebf;
}

.instrucciones ul h2 {
    font-size: 20px;
    font-weight: bold;
}

.instrucciones ul li {
    margin: 20px 0 0 0;
}

.flex-w li {
    flex: 1;
}

.content-flex {
    flex: 1;
}

.cuentas-contables {
    padding: 0 1% 0 0;
}

.asiento input {
    width: 50px;
}

.asiento {
    margin: 0 20px 0 0;
}

.fecha select {
    width: 100px;
    margin: 0 7px 0 0;
}

.cabecera-asiento {
    padding: 0 1% 0 0;
}

.radiobutton span {
    font-size: 16px !important;
}

.radio {
    margin: 10px 0 0 0;
}

.radiobutton ul li p {
    font-size: 13px;
    padding: 10px 30% 10px 20px;
    text-align: justify;
    color: #839ebf;
    line-height: 16px;
}

.col, .col-2 {
    flex: 1;
}