.columnas-3 {
    display: flex;
    margin: 0 20px;
}

.col {
    background-color: #f1f1f1a6;
    height: auto;
    width: auto;
    flex: 30%;
    padding: 40px;
    margin: 40px 20px;
    color: #839ebf;
}

.home .texto-slider h1 {
    font-size: 2.5rem;
    text-align: center;
    color: #5f9ea0;
    padding: 40px 60px 10px 60px;
    height: max-content;
}

.home .texto-slider h2 {
    font-size: 1.5rem;
    text-align: center;
    line-height: 30px;
    color: #839ebf;
    padding: 40px 60px;
    height: max-content;
}

.texto-slider {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    height: max-content;
    width: 50%;
    background-color: #fff;
}

.col h2 {
    font-size: 25px;
    margin-bottom: 40px;
    flex: auto;
}

.col ul {
    font-size: 18px;
    line-height: 26px;
}

.col li {
    margin-bottom: 17px;
    display: flex;
}

.col i {
    font-size: 40px;
}

.col span {
    align-self: center;
    padding-left: 20px;
}

.p-info {
    font-size: 18px;
    line-height: 30px;
}

.col .bold {
    color: #5f9ea0;
}

.slider img{
    width: 100%;
}

.slider {
    display: table;
}

.slider-img {
    position: relative;
}



