<div class="slider home animated fadeIn fast">
    <img [src]="rutaImg">
    <h1 class="slider-texto">
        Esta web es una <strong class="bold">versión demo <i class="fa-solid fa-desktop"></i></strong>, 
        realizada por <strong class="bold">Sergio Sierra <i class="fa-solid fa-face-grin-wide"></i></strong> 
        se trata de una aplicación para la gestion de las finanzas personales.
    </h1>
</div>

<div class="container animated fadeIn fast home">

    <div class="columnas-3">
        <div class="col box-s">
            <h2 class="bold">¿Qué tecnología he usado?</h2>
            <ul>
                <li><i class="fa-brands fa-html5"></i><span>HTML personalizo</span></li>
                <li><i class="fa-brands fa-css3-alt"></i><span>CSS y responsive design</span></li>
                <li><i class="fa-brands fa-angular"></i><span>Framework Angular</span></li>
                <li><i class="fa-brands fa-font-awesome"></i><span>Iconos Fontawesome</span></li>
            </ul>
        </div>
        <div class="col box-s">
            <h2 class="bold">¿Qué funciones tiene?</h2>
            <ul>
                <li><i class="fa-solid fa-user"></i><span>Inicio de sesión</span></li>
                <li><i class="fa-solid fa-file-pen"></i><span>Anotar movimientos</span></li>
                <li><i class="fa-solid fa-book-open"></i><span>Gestión de cuentas</span></li>
                <li><i class="fa-solid fa-file-contract"></i><span>Balance final</span></li>
            </ul>
        </div>
        <div class="col box-s">
            <h2 class="bold">¿Qué es el proyecto?</h2>
            <p class="p-info">Es una versión demo en la que los <strong class="bold">todos los datos son ficticios</strong>, no está conectada a una base de datos
                pero se puede llegar a operar con las cuentas y los movimientos para ver su comportamiento, todo gracias a los componentes de Angular. 
            </p>
        </div>
    </div>

</div>