<nav class="aside">
    <ul class="menu">
        <li routerLinkActive="active">
            <a [routerLink]="['/mi-espacio']" title="Mi espacio" class="puntero">
                <i class="fa-solid fa-house"></i>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/asiento']" title="Mi espacio" class="puntero">
                <i class="fa-solid fa-pen-to-square"></i>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/cuenta']" title="Mi espacio" class="puntero">
                <i class="fa-solid fa-book"></i>
            </a>
        </li>
        <li routerLinkActive="active">
            <a [routerLink]="['/cuentas']" title="Mi espacio" class="puntero">
                <i title="Ver Cuentas"  class="fa-solid fa-book-open"></i>
            </a>
        </li>
        <li routerLinkActive="active">
            <a title="Opciones" class="puntero">
                <i title="Opciones"  class="fa-solid fa-gear"></i>
            </a>
        </li>
    </ul>
</nav>
