/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Animaciones */
.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  .fast {
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
  .fadeIn {
    animation-name: fadeIn;
  }

  /* Estilos generales */

  html {
    height: 100%;
  }

  .background {
    background-color: #fff;
    height: 100%;
  }

  .font {
    font-family: sans-serif !important; 
  }

.btn {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  display: table;
  transition: all ease-in-out 0.2s;
}

.btn-cuadrado {
  padding: 20px;
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.btn-redondo {
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  border-radius: 510px;
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
}

.btn-sinfondo {
  padding: 20px;
  font-size: 35px;
  background-color: transparent;
  color: #839ebf;
  border: none;
  position: absolute;
  right: 10px;
}

.btn:hover {
  background-color: #a3bfe0;
}

.puntero {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-guard {
  width: 100%;
}

.container-box {
  width: 70%;
  margin: 40px auto;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}

.bloque {
  background-color: #fff;
  padding: 40px;
}

.bloque-float {
  padding: 2rem 0 0 40px;
  position: relative;
  display: flex;
  align-items: center;
  margin: 0 0 2rem 0;
}

.bloque-float span {
  font-size: 20px;
  margin: 8px 10px 0 0;
  display: block;
  float: left;
}

.bloque-content {
  padding: 0 40px;
  margin: 0 0 60px 0;
  position: relative;
}

.bold {
  font-weight: bold;
}

.box-s {
  box-shadow: 1px 1px 12px 0 #ccc;
}

h1 {
  font-size: 30px;
  padding: 0;
  color: #839ebf;
}

p.p-h1 {
  color: #5f9ea0;
  font-size: 20px;
  padding: 10px 0 0 0;
}

.color-text{
  color: #839ebf;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-w {
  display: flex;
  align-items: center;
}

select.corto {
  width: 79%;
}

.select-corto {
  width: 100px;
}

.muycorto {
  width: 3%;
}

.corto {
  width: 100px;
}

.medio {
  width: 50%;
}

.largo {
  width: 250px;
}

.muylargo {
  width: 94%;
}

.total {
  width: 100%;
}

.muycorto, .corto, .largo, .muylargo, select.corto, .select-corto, .caja-formulario, .total {
  padding: 1rem 3%;
  font-size: 1rem;
  font-family: sans-serif;
  border: 1px solid #ccc;
  color: #839ebf;
}

select:focus, textarea:focus, input:focus, input[type]:focus {
  border-color: #839ebf;
  outline: 0 none;
}

label {
  display: block;
  padding: 0 0 5px 0;
  margin: 20px 0 0 0;
  color: #839ebf;
  font-weight: bold;
}

input.asiento {
  width: 50px;
}

small {
  display: block;
  margin: 5px 0 0 0;
  color: #d14141;
  font-size: 13px;
}

.linea {
  width: 90%;
  height: 25px;
  border-bottom: 1px solid #dcdcdc;
}

.padtop {
  padding-top: 20px;
}

.space {
  height: 50px;
}

.space-empty {
  height: 500px;
}

.container-principal {
  display: flex;
  height: 100%;
}

aside {
  padding: 1.5em;
  background-color: #839ebf;
}

.aside .menu li {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

.aside .active a {
  color: #fffacd;
  transition: all ease-in-out 0.3s;
}

.aside  a {
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.no-hay {
  background-color: #fffacd;
  padding: 2rem 1rem;
  text-align: center;
  margin: 2em 0;
}

.modalCuenta {
  position: fixed;
  top: 0;
  background-color: rgba(131, 158, 191, 0.6);
  right: 0;
  left: 0;
  bottom: 0;
}

.container-modal {
  background-color: #fff;
  width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
}

.cerrar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #839ebf;
}

.botones {
  display: flex;
}

.botones .btn {
  margin: 0 1rem 0 0;
}

.info-cuenta span {
  font-size: 20px;
  padding: 0 1%;
}

.info-cuenta button.btn {
  margin-top: 30px;
}

.instrucciones {
  width: 40%;
  padding: 0 40px 0 0;
  font-size: 15px;
  text-align: justify;
  color: #839ebf;
}

.instrucciones ul h2 {
  font-size: 20px;
  font-weight: bold;
}

.instrucciones ul li {
  margin: 20px 0 0 0;
  font-size: 16px;
  line-height: 18px;
}


