/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Estilo personalizados */
@font-face {
  font-family: "Roboto-Regular";
  src: url("assets/font/Roboto-Regular.ttf");
}

html {
  height: 100%;
}

.background {
  background-color: #fff;
/*   background: rgb(255,255,255);
  background: -moz-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(172,207,226,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(172,207,226,1) 100%);
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(172,207,226,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#accfe2",GradientType=1); */
  height: 100%;
}

.font {
  font-family: Roboto-Regular !important; 
}

.font-14 {
  font-size: 14px;
}

.btn {
  padding: 10px 20px;
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  transition: all ease-in-out 0.2s;
}

.btn-delete {
  font-size: 20px;
  background-color: transparent;
  color: #be5757;
  border: none;
  transition: all ease-in-out 0.2s;
}

.btn-delete:hover {
  color: #7a3535;
  transition: all ease-in-out 0.2s;
}

.btn-cuadrado {
  padding: 20px;
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  border-radius: 10px;
}

.btn-redondo {
  font-size: 17px;
  background-color: #839ebf;
  color: #fff;
  border: none;
  border-radius: 510px;
  margin: 0 0 0 10px;
  width: 40px;
  height: 40px;
}

.btn-sinfondo {
  padding: 20px;
  font-size: 35px;
  background-color: transparent;
  color: #839ebf;
  border: none;
  position: absolute;
  right: 10px;
}

.btn:hover {
  background-color: #a3bfe0;
}

.puntero {
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.container-guard {
  width: 100%;
}

.container-box {
  width: 80%;
  margin: 40px auto;
  border: 1px solid #dcdcdc;
  background-color: #fff;
}

.bloque {
  background-color: #fff;
  padding: 2rem;
}

.bloque-float {
  padding: 2rem 0 0 2rem;
  margin: 0 0 2rem 0;
}

.bloque-float span {
  font-size: 20px;
  margin: 8px 10px 0 0;
  display: block;
  float: left;
}

.bloque-content {
  padding: 0 2rem 2rem 2rem;
}

.bold {
  font-weight: bold;
}

.box-s {
  box-shadow: 1px 1px 12px 0 #ccc;
}

h1 {
  font-size: 1.5rem;
  padding: 0;
  color: #839ebf;
}

.saldos {
  background-color: #f7f7f7;
  padding-bottom: 2rem;
}

.saldos h1 {
  font-size: 1.5rem;
  padding: 2rem 2rem 1rem 2rem;
  color: #839ebf;
}


p.p-h1 {
  color: #5f9ea0;
  font-size: 20px;
  padding: 10px 0 0 0;
}

.color-text{
  color: #839ebf;
}

.flex {
  display: flex;
  align-items: center;
}

.flex-w {
  display: flex;
  align-items: center;
}

select.corto {
  width: 79%;
}

.select-corto {
  width: 100px;
}

.muycorto {
  width: 20px;
}

.corto {
  width: 100px;
}

.medio {
  width: 50%;
}

.largo {
  width: 250px;
}

.muylargo {
  width: 94%;
}

.total {
  width: 100%;
}

.muycorto, .corto, .largo, .muylargo, select.corto, .select-corto, .caja-formulario, .total {
  padding: 0.5rem 3%;
  font-size: 14px;
  font-family: sans-serif;
  border: 1px solid #ccc;
  color: #839ebf;
}

select:focus, textarea:focus, input:focus, input[type]:focus {
  border-color: #839ebf;
  outline: 0 none;
}

::placeholder { 
  color: rgb(182, 182, 182); 
}

:-ms-input-placeholder { 
  color: rgb(182, 182, 182); 
} /* IE 10+ */

::-webkit-input-placeholder { 
  color: rgb(182, 182, 182); 
} /* WebKit */

::-moz-placeholder { 
  color: rgb(182, 182, 182);  
} /* Firefox 19+ */

label {
  display: block;
  padding: 0 0 5px 0;
  margin: 20px 0 0 0;
  color: #839ebf;
  font-weight: bold;
}

input.asiento {
  width: 50px;
}

small {
  display: block;
  margin: 5px 0 0 0;
  color: #d14141;
  font-size: 13px;
}

.linea {
  width: 90%;
  height: 25px;
  border-bottom: 1px solid #dcdcdc;
}

.padtop {
  padding-top: 20px;
}

.space-empty {
  height: 500px;
}

.container-principal {
  display: flex;
  height: 100%;
}

aside {
  padding: 1.5em;
  background-color: #839ebf;
}

.aside .menu li {
  font-size: 1.5em;
  margin: 0 0 1em 0;
}

.aside .active a {
  color: #fffacd;
  transition: all ease-in-out 0.3s;
}

.aside  a {
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.no-hay {
  background-color: #fffacd;
  padding: 2rem 1rem;
  text-align: center;
  margin: 2em 0;
}

.modalCuenta {
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  right: 0;
  left: 0;
  bottom: 0;
}

.container-modal {
  background-color: #fff;
  width: 600px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
}

.container-modal-asiento {
  background-color: #fff;
  width: 800px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
}

.cerrar {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.5rem;
  color: #839ebf;
}

.botones {
  text-align: right;
}

.botones .btn, .botones .btn-delete {
  margin: 0 0 0 1rem;
}

.etiqueta-activo {
  margin-right: 1rem;
}

.info-cuenta span {
  padding: 0 1%;
}

.info-cuenta button.btn, .info-cuenta button.btn-delete {
  margin-top: 3rem;
}

.content-flex {
  flex: 1;
}

.lista-cuentas {
  overflow-y: auto;
  max-height: 300px;
}

.lista-cuentas::-webkit-scrollbar {
  background-color: #fff;
  width: 16px;
}

.lista-cuentas::-webkit-scrollbar-track {
  background-color: #fff;
}
.lista-cuentas::-webkit-scrollbar-thumb {
  background-color: #839ebf;
  border-radius: 16px;
  border: 4px solid #fff;
}
.lista-cuentas::-webkit-scrollbar-button {
  display: none;
}

.asiento input {
  width: 50px;
  text-align: center;
}

.asiento {
  margin: 0 20px 0 0;
}

.fecha select {
  width: 100px;
  margin: 0 7px 0 0;
}

.cabecera-asiento {
  padding: 0 1% 0 0;
}

.radiobutton span {
  font-size: 14px;
}

.radio {
  margin: 10px 0 0 0;
}

.radiobutton ul li p {
  font-size: 13px;
  padding: 10px 30% 10px 20px;
  text-align: justify;
  color: #839ebf;
  line-height: 16px;
}

.col {
  flex: 1;
}

.content-asiento {
  display: flex;
}

.cuenta-info {
  background-color: #f2f6fa;
  height: max-content;
  width: 100%;
  margin-bottom: 0.2rem;
  transition: all ease-in-out 0.5s;
}

.cuenta-pasivo {
  background-color: #fffef1 !important;
}

.cantidad-pasivo {
  color: rgb(255, 176, 147) !important;
}

.cuenta-info .cabecera {
  padding: 0.5rem 1.5rem;
  background-color: transparent;
  display: flex;
  align-items: center;
  font-size: 14px;
}

.info-cabecera {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.cantidad {
  width: 100%;
}

.cantidades {
  padding: 30px 0;
  display: flex;
  align-items: center;
}

.cantidades span {
  padding: 10px;
  display: flex;
  align-items: center;
}

.mostrar-cuentas h2.title-h2 {
  display: block;
  padding: 0 0 5px 0;
  margin: 20px 0 0 0;
  color: #839ebf;
  font-weight: bold;
}

.cabecera button {
  margin-right: 1px;
}

.debe, .haber {
  border-bottom: 1px solid #ccc;
  margin: 0 0 10px 0;
}

.cantidad-cuenta {
  font-size: 1.2em;
}

.saldo-cantidad {
  padding: 0 0 0 2rem;
  width: fit-content !important;
}

.btn-cuentas {
  font-size: 1.5em;
  color: #839ebf;
  background-color: transparent;
  border: none;
  transition: all ease-in-out 0.5s;
}

.btn-cuentas:hover {
  color: #455467;
  transition: all ease-in-out 0.5s;
}

.btn-cuentas span {
  font-size: 0.7em;
  padding: 0 0 0 0.5em !important;
}

.nombreCuenta {
  font-size: 1rem;
  padding-right: 1rem;
}

.buscador-cuenta {
  display: flex;
  margin: 0 0 1rem 0;
  align-items: flex-end;
}

.buscador-cuenta form {
  width: 100%;
}

span.info {
  font-size: 1rem;
  color: #ccc;
  padding: 0 0 2rem 0;
}

.actualizar {
  justify-content: flex-end;
}

.buscador-cuenta {
  display: flex;
  margin: 0 0 1rem 0;
  align-items: flex-end;
}

.sutil {
  color: #c1c1c1;
}

.saldos ul {
  padding: 0 2rem 0 2rem;
  display: flex;
}

.saldos ul li {
  color: #839ebf;
  font-size: 20px;
  text-align: left;
  padding-right: 3rem;
  margin: 0.5rem 0;
}

.saldos ul li i {
  font-size: 1.3rem;
  margin-right: 0.3em;
}

.bloque h1 {
  font-size: 1.2em;
  padding: 15px 0 15px 0;
  color: #839ebf;
  background-color: #fff;
}

.tabla {
  /* display: flex; */
  font-size: 16px;
  text-align: left;
  color: #000;
  margin: 1rem 0 0 0;
}

.tabla table {
  width: 100%;
}

.tabla-cuenta span {
  display: flex;
  padding: 0.5rem 0 0 0;
  color: #839ebf;
}

.overflow {
  font-size: 14px;
  max-height: 300px;
  overflow-x: auto;
}

.container-tabla {
  width: 100%;
  text-align: left;
  margin: 0 0 0.5rem 0;
}

.saldo-cuenta {
  padding: 1rem 0 0 0;
  border-top: 1px solid #ccc;
}

.saldo-lista {
  padding: 0 0 0 0.5rem;
}

.cabecera-tr th {
  padding: 0 0 0.5rem 0;
  border-bottom: 1px solid #ccc;
  color: #839ebf;
}

.cabecera-tabla {
  background-color: #b5d4d7 !important;
}

.tabla table tr td, .tabla table tr th {
  padding: 10px 10px;
}

.tabla table tr{
  background-color: #f2f6fa;
  transition: all ease-in-out 0.2s;
  color: #839ebf;
  border-bottom: 3px solid #fff;
}

.tabla table tr:hover{
  transition: all ease-in-out 0.2s;
  color: #000;
}

.tabla table tr th {
  color: #3b8189;
  font-weight: bold;
  padding: 10px 10px;
}

.flex-button {
  display: flex;
}

.tabla table tr td button {
  flex: 1;
  margin: 0 1px;
  width: 35px;
  height: 35px;
  font-size: 15px;
}

.info-tr:hover {
  color: #000;
  transition: all ease-in-out 0.2s;
  background-color: #f1f1f1;
}

.mod, .del {
  color: #fff;
  background-color: #839ebf;
  border: none;
  padding: 10px;
  transition: all ease-in-out 0.3s;
}

.del:hover {
  transition: all ease-in-out 0.3s;
  background-color: #ff0000;
}

.mod:hover {
  transition: all ease-in-out 0.3s;
  background-color: #455467;
}

.acciones button {
  width: max-content;
  height: 50px;
  margin-right: 10px;
  background-color: #fff;
  border: none;
  border-radius: 10px;
  color: #455467;
  transition: all ease-in-out 0.3s;
  font-size: 15px;
}

.acciones button span {
  font-size: 15px;
  padding: 0 5px;
}

.acciones button:hover {
  transition: all ease-in-out 0.3s;
  color: #839ebf;
}

.acciones {
  margin-top: 10px;
  margin-bottom: 20px;
  width: 100%;
  position: relative;
}

.space {
    width: 100%;
    height: 400px;
    display: table;
}

.cantidad-movimiento {
  text-align: right;
  color: rgb(95, 158, 160);
}

.pasivo {
  color: rgb(255, 176, 147) !important;
}

.menu-espacio {
  display: flex;
}

.menu-espacio li {
  margin: 0 0.5rem 0 0;
}

.menu-espacio li button {
  font-size: 1rem;
  background-color: transparent;
  border: 1px solid #839ebf;
  color: #839ebf;
  border-radius: 5px;
  width: max-content;
  height: 40px;
  padding: 0 1rem;
  transition: all ease-in-out 0.3s;
}

.menu-espacio li button:hover {
  border: 1px solid #8d939c;
  color: #8d939c;
  background-color: #f9f9f9;
  transition: all ease-in-out 0.3s;
}

.btn-span {
  font-size: 14px;
  padding-left: 0.5rem;
}

.saldo-inicial {
  margin: 1rem 0 0 0;
}

.no-registro {
  text-align: center;
  background-color: #8fbc8f54;
  font-size: 1rem;
  padding: 1rem 1rem;
  margin: 2rem auto;
  color: rgb(95, 158, 160);
}


/* búsqueda */
.busqueda {
  width: 100% !important;
}

.busqueda label {
  text-align: left;
  background-color: #fff;
  padding: 1rem 0 1rem 1rem;
  transition: all ease-in-out 0.5s;
  margin: 0 !important;
  border-top: 1px solid #ccc;
}

.busqueda label:hover {
  background-color: #fafafa;
  transition: all ease-in-out 0.5s;
}

.container-modal-busqueda {
  background-color: #fff;
  width: 350px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: max-content;
  margin: auto;
}

.hide-asiento {
  padding: 1rem 0 1rem 0;
}

.menu-espacio li {
  margin: 0 0.5rem 0 0;
  display: flex;
  align-items: center;
}

.filtro span {
  font-size: 14px;
  margin: 0 0 0 0.5rem;
}

.mano {
  position: absolute;
  z-index: 100;
  top: 20px;
  background-color: #fff;
  right: 120px;
  width: 240px;
  text-align: center;
  display: flex;
  align-items: center;
}

.mano i {
  font-size: 2rem;
}

.mano i {
  font-size: 2rem;
  margin-left: 1rem;
}



/* ------------------------------------ */
/* DISPOSITIVOS MOVILES */
/* ------------------------------------ */

/* web */
@media all and (max-width: 1680px){



}


@media all and (max-width: 1400px){

.texto-slider {
  width: 95% !important;
}

.container {
  width: 100% !important;
}
  
}
  
  

/* iPad - tablet */
@media all and (max-width: 1024px){

.columnas-3 {
  display: table !important;
}

.home .texto-slider h1 {
  font-size: 2rem !important;
  padding: 1.5rem 1rem 1rem 1rem !important;
}

.home .texto-slider h2 {
  font-size: 1rem !important;
  padding: 1rem !important;
}

.texto-slider {
  width: 85% !important;
}

  
}
  
  

/* Movil */  

@media all and (max-width: 710px) and (min-width: 220px) {

  

  
}
  
  
  
@media all and (max-width: 480px) and (min-width: 220px) {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
